{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.banner.banner.enable }}
{{ with $data.banner.banner }}
{{"<!-- Welcome Slider-->" | safeHTML}}
<div>
	<div class="sticky-top" style="background-color:#ffbc11; text-align: center;">
		<div style="color:black; padding: 10px;">
			<b>Offre de l'été -10%* sur tout le Regard et sur les Pédicures "GreenFlash" & "Gelish".</b> Du 22 Juin 2020  au 31 Aout 2020
			<br/>
			<span style="font-size: small;">* Offre non cummulable avec d'autres offres et carte de fidélité. 
			<a href="#services" style="color:black; font-weight: bold;" class="page-scroll">En savoir +</a></span>
		</div>
	</div>
	<section class="hero-area">
		<div class="block">
			<h1 class="top-gold" style="color:#ffbc11;">{{ .title_1 | markdownify }}</h1>
			<h1 class="bottom-gold bottom-title">{{ .title_2 | markdownify }}</h1>
			<p>{{ .content | markdownify }}</p>
			{{ if .button.enable }}
			{{ with .button }}
			<a href="{{ .link }}" class="btn btn-transparent page-scroll">{{ .label }}</a>
			{{ end }}
			{{ end }}
		</div>
	</section>
</div>
{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}
{{end}}
